<div id="container" class="container">

  <div class="black-overlay">

    <div class="header">
      <a class="link" id="sign-up" (click)="moveToSignUp()">Sign-up</a>
      <a class="link" id="shop">Shop</a>
      <a class="link" id="location">Location</a>
      <a class="link" id="creators">Creators</a>
    </div>

    <div><p class="welcome" id="welcome">Welcome to online nursery shop for plant samplings and seeds</p></div>
    <div id="image-div"><img id="image" src="/assets/images/logo.jpg"></div>
    <div><p class="quote" id="quote">Were flowers bloom, so does hope !</p></div>

    <div class="button-div">
      <div>
        <button class="login-button" (click)="moveToLogin()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
        </svg> Login</button>
        <button class="about-button" (click)="moveToAbout()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
          <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
          <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg> About</button>
      </div>
    </div>
  </div>
</div>
