@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.input-info p{
  margin-right: 1em;
}
table {
  margin: 1em;
}
table, tr, td {
  padding: 5px;
  padding-right: 4em;
}

#add-plant-div {
  padding: 1em;
  width: 60%;
}

.input-info {
  padding: 0.5em;
}

.input-box {
  height: 2.5em;
  width: 80%;
}

textarea{
  width: 100%
}


