<div class="container">
  <div id="add-plant-div">
    <div class="input-type-div input-info">
      <p style="float: left;">Planting option</p>
      <input (input)="getType(type.value)" [value]="Type" #type class="input-box" type="text" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-name-div input-info">
      <p style="float: left;">Name</p>
      <input (input)="getName(name.value)" [value]="Name" #name class="input-box" type="text" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-scientific-name-div input-info">
      <p style="float: left;">Scientific name</p>
      <input (input)="getSname(scientificName.value)" [value]="ScientificName" #scientificName class="input-box" type="text" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-price-div input-info">
      <p style="float: left;">Price</p>
      <input (input)="getPrice(price.value)" [value]="Price"  #price class="input-box" type="number" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-img-path-div input-info">
      <p style="float: left;">Image path</p>
      <input class="input-box" (change)="handleFileInput($event)" type="file" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-plant-properties-div input-info">
      <p style="float: left;">Properties</p>
      <textarea (input)="getProperties(properties.value)" [value]="Properties" #properties type="text" style="float: left;"></textarea>
      <div style="clear: both;"></div>
    </div>
    <div class="input-initial-quantity-div input-info">
      <p style="float: left;">Initial Quantity</p>
      <input  (input)="getInitialQ(initialQ.value)" [value]="InitialQuantity" #initialQ class="input-box" type="number" style="float: left;">
      <div style="clear: both;"></div>
    </div>

    <div id="submit-div">
      <button #quantity id=submit-button (click)="getDetails(type.value, name.value, scientificName.value, price.value, properties.value, initialQ.value)">Submit</button>
    </div>
    <!-- Add more input fields here -->
  </div>
</div>
