<button (click)="hideAllTabs(); addNewProduct = true;">Add new Product</button>
<button (click)="hideAllTabs(); modifyExistingProduct = true;">Modify Existing Product</button>

<div class="container" *ngIf="addNewProduct">
  <div id="add-plant-div">
    <div class="input-type-div input-info">
      <p style="float: left;">Planting option</p>
      <input (input)="getType(type.value)" [value]="Type" #type class="input-box" type="text" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-name-div input-info">
      <p style="float: left;">Name</p>
      <input (input)="getName(name.value)" [value]="Name" #name class="input-box" type="text" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-scientific-name-div input-info">
      <p style="float: left;">Scientific name</p>
      <input (input)="getSname(scientificName.value)" [value]="ScientificName" #scientificName class="input-box" type="text" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-price-div input-info">
      <p style="float: left;">Price</p>
      <input (input)="getPrice(price.value)" [value]="Price"  #price class="input-box" type="number" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-img-path-div input-info">
      <p style="float: left;">Image path</p>
      <input class="input-box" (change)="handleFileInput($event)" type="file" style="float: left;">
      <div style="clear: both;"></div>
    </div>
    <div class="input-plant-properties-div input-info">
      <p style="float: left;">Properties</p>
      <textarea (input)="getProperties(properties.value)" [value]="Properties" #properties type="text" style="float: left;"></textarea>
      <div style="clear: both;"></div>
    </div>
    <div class="input-initial-quantity-div input-info">
      <p style="float: left;">Initial Quantity</p>
      <input  (input)="getInitialQ(initialQ.value)" [value]="InitialQuantity" #initialQ class="input-box" type="number" style="float: left;">
      <div style="clear: both;"></div>
    </div>

    <div id="submit-div">
      <button #quantity id=submit-button (click)="getDetails(type.value, name.value, scientificName.value, price.value, properties.value, initialQ.value)">Submit</button>
    </div>
    <!-- Add more input fields here -->
  </div>
</div>


<div *ngIf="modifyExistingProduct">
  Modify Existing Product
  <br>
  <div *ngFor="let plant of allPlantsData" style="display: inline-block;" data-editable="false" id="plant-div-{{ plant.id }}">
    <a (click)="plant.editable = !plant.editable;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" [attr.fill]="plant.editable ? 'red' : 'green'" class="bi bi-pen" viewBox="0 0 16 16">
        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
      </svg>
    </a>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ plant.Img_path }}" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">{{ plant.id }}</h6>
        <h5 class="card-title" #plantName [contentEditable]="plant.editable">
          {{ plant.Name }}
        </h5>
        <h6 class="card-title" #plantSname [contentEditable]="plant.editable">{{ plant.Scientific_Name }}</h6>
        <p class="card-text" #plantProperties [contentEditable]="plant.editable">{{ plant.Properties }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" #plantType [contentEditable]="plant.editable">{{ plant.type }}</li>
        <li class="list-group-item">₹<span #plantPrice [contentEditable]="plant.editable">{{ plant.Price }}</span></li>
      </ul>
    </div>
    <button [disabled]="!plant.editable" (click)="setUpdatedInfo(plantType.innerHTML, plantName.innerHTML, plantPrice.innerHTML, plantProperties.innerHTML, plantSname.innerHTML, plant.id)">Commit</button>
  </div>
</div>
