<div style="text-align: center;">
  <button class="btn btn-primary m-1" (click)="hideAllTabs(); addNewProduct = true;">Add new Product</button>
  <button class="btn btn-primary m-1" (click)="hideAllTabs(); modifyExistingProduct = true;">Modify Existing Product</button>
</div>

<div *ngIf="addNewProduct">
  <table>
    <tr>
      <td>
        <p>Planting option</p>
      </td>
      <td>
        <input (input)="getType(type.value)" [value]="Type" #type class="input-box" type="text">
      </td>
    </tr>
    <tr>
      <td>
        <p>Name</p>
      </td>
      <td>
        <input (input)="getName(name.value)" [value]="Name" #name class="input-box" type="text">
      </td>
    </tr>
    <tr>
      <td>
        <p>Scientific name</p>
      </td>
      <td>
        <input (input)="getSname(scientificName.value)" [value]="ScientificName" #scientificName class="input-box" type="text">
      </td>
    </tr>
    <tr>
      <td>
        <p>Price (INR)</p>
      </td>
      <td>
        <input (input)="getPrice(price.value)" [value]="Price" #price class="input-box" type="number">
      </td>
    </tr>
    <tr>
      <td>
        <p>Image path</p>
      </td>
      <td>
        <input class="input-box" (change)="handleFileInput($event)" type="file">
      </td>
    </tr>
    <tr>
      <td>
        <p>Properties</p>
      </td>
      <td>
        <textarea (input)="getProperties(properties.value)" [value]="Properties" #properties type="text"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <p>Initial Quantity</p>
      </td>
      <td>
        <input (input)="getInitialQ(initialQ.value)" [value]="InitialQuantity" #initialQ class="input-box" type="number">
      </td>
    </tr>
    <tr>
      <td>
        <br><br>
        <div id="submit-div">
        <button #quantity id=submit-button (click)="getDetails(type.value, name.value, scientificName.value, price.value, properties.value, initialQ.value)">Submit</button>
      </div></td>
    </tr>
  </table>
    <!-- Add more input fields here -->
  </div>

  <div style=" text-align: center;" *ngIf="modifyExistingProduct">
    <div style="font-family:'Times New Roman', Times, serif; padding-top: 1em; font-size: larger;"> Modify Existing Product </div>
    <br>
    <div class="card-group">
      <div class="card" style="min-width: 18rem; max-width: 20rem; display: inline-block" *ngFor="let plant of allPlantsData" [style]="'margin: 2px; padding: 2px;'" data-editable="false" id="plant-div-{{ plant.id }}">
          <img class="card-img-top" style="height: 14rem; object-fit: cover;" src="{{ plant.Img_path }}">
          <h6 *ngIf="plant.updateSuccessBanner" class="alert alert-success">Updated Succesfully</h6>
          <h6 class="alert alert-secondary" *ngIf="!plant.updateSuccessBanner">{{ plant.id }}</h6>
          <div class="card-body">
            <h5 style="display: inline-block" class="card-title" #plantName [contentEditable]="plant.editable">
              {{ plant.Name }}
            </h5>
            <a class="m-3" style="cursor: pointer;" (click)="plant.editable = !plant.editable;">
              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" [attr.fill]="plant.editable ? 'red' : 'green'" class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
              </svg>
            </a>
            <i>
              <h6 class="card-title" #plantSname [contentEditable]="plant.editable">{{ plant.Scientific_Name }}</h6>
            </i>
            <p style="height: 10rem;" class="card-text" #plantProperties [contentEditable]="plant.editable">{{ plant.Properties }}</p>
            <span class="card-text" #plantType [contentEditable]="plant.editable">{{ plant.type }}</span  >
            <h4 class="card-text">₹<span #plantPrice [contentEditable]="plant.editable">{{ plant.Price }}</span></h4>
            <button class="btn btn-success" [disabled]="!plant.editable" (click)="setUpdatedInfo(plantType.innerText, plantName.innerText, plantPrice.innerText, plantProperties.innerText, plantSname.innerText, plant.id)">Commit</button>
            <button class="btn btn-danger m-3" [disabled]="!plant.editable" (click)="deletePlant(plant.id)">Delete</button>
          </div>
      </div>
    </div>
  </div>
