<div class="container">
  <!-- <div id="welcome-div"><h1 class="welcome">Welcome to Online Nursery</h1></div> -->
  <div class="overall-container">
  <div id="img-div">
    <img src="assets/images/istockphoto-1018703724-612x612.jpg" alt="">
  </div>
  <div class="signup-container" style="min-width: 23%;">
    <div class="heading">
      <h1>Login</h1>
    </div>
    <div *ngIf="invalidCred" class="alert alert-danger">
      Invalid Credentials
    </div>
    <div [hidden]="fieldsDisabled" class="form-container">

      <div class="email-div">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
        </svg>
        <input #email (input)="getEmail(email.value)" [value]="emailOrPhone" placeholder="Email/Phone" type="text" size="25" minlenght="5">
      </div>

      <div class="password-div">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
          <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
          <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/>
        </svg>
        <input #passcode (input)="getPassword(passcode.value)" [value]="password" placeholder="Password" [type]="passwordType" size="25" minlength="8" maxlength="12">
      </div>

      <div class="show-password-check">
        <input (click)="changeType()" id="show-password" type="checkbox" value="">
        <label id="show-password-label" for="flexCheckDefault">
          Show Password
        </label>
      </div>

      <div class="submit-div">
        <button
        #submit
        class="btn btn-outline-success"
        id="submit-button"
        value="Sign Up"
        (click)="getDetails(email.value, passcode.value)"
        style="min-width: 30%; min-height: 30px; font-size: 15px; cursor: pointer;"
      >Login</button>
      </div>

      <div class="new-user-div"><a href="" (click)="moveToSignup()" id="newuser_tag">New user? Sign-up here</a></div>
      <div class="forgot-password-div"><a  id="forgot_password_tag" href="#">Forgot password</a></div>

    </div>
    <div [hidden]="!fieldsDisabled">
      <img src="assets/images/Hourglass.gif">
    </div>
  </div>
  </div>
</div>



