<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
<div class="order-container">
    <div *ngFor="let order of orders | keyvalue" class="card order-card">
        <div class="card-header">
            <p style="float:left">Order-No: {{ order.key }}</p>
            <p style="float: right">Order-Date: </p>
        </div>
        <div class="card-body">
            <table *ngFor="let plant of order.value" class="table">
                <tbody>
                    <tr>
                        <td class="image-space">
                            <img class="product-image" src="{{ plant.img }}">
                        </td>
                        <td class="info-space">
                            <p>Plant Name: {{ plant.name }}</p>
                            <p>Plant Quantity: {{ plant.quantity }}</p>
                            <p>Plant Price {{ plant.price }}</p>
                            <p>Total Plant Price: {{ plant.total_price }}</p>
                            <p>Plant Type: {{ plant.type }}</p>
                        </td>
                    </tr>
                </tbody> 
            </table>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
