<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
<div id="order-container">
    <div *ngFor="let order of orders" class="card order-card">
        <div class="card-header">
            <p class="order-no" id="order-no-id" style="float:left; font-weight: bold; font-family:monospace">Order-No: {{ order[0].order_no }}</p>
            <p id="order-date-id" style="float: right; font-weight: bold;">Order-Date: {{ order[1].order_date }}</p><br/>
        </div>
        <div class="card-body">
            <div style="color: rgb(40, 154, 40)">Order Placed By: <div style="display: inline-block" [innerHTML]="userdetails.user_details.username"></div></div><br/>
            <table *ngFor="let plant of order[2].details" class="table">
                <tbody>
                    <tr>
                        <td class="image-space">
                            <img class="product-image" id="product-img" src="{{ plant.img }}">
                        </td>
                        <td id="plant_details" class="info-space">
                            <h3>{{ plant.name }}</h3><br/>
                            <p>Plant Quantity: {{ plant.quantity }}</p>
                            <p>Plant Price ₹{{ plant.price }}</p>
                            <p>Total Plant Price: ₹{{ plant.total_price }}</p>
                            <p>Type: {{ plant.type }}</p>
                        </td>
                    </tr>
                </tbody> 
            </table>
        <div style="font-weight: bold; font-family:monospace">
            <p>Grand Total: ₹{{ order[3].total_price }}</p>
            <p>Invoice Amount: ₹{{ order[4].invoice_amount }}</p>
        </div>
        <div class="alert alert-primary" role="alert" *ngIf="isReady">
            The order is ready
        </div>
        <div class="alert alert-success" role="alert" *ngIf="isDelivered">
            Delivered
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="isPending">
            Pending
        </div>
        </div>
    </div>
</div>
