.container{
  text-align: center;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: 100%;
  background-image: url("/assets/images/v986-bg-10.jpg");
}

.heading{
  color: rgb(16, 18, 16);
}

.signup-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255,255,255,1);
  margin-top: 5%;
  margin-bottom: 10%;
  border-style: solid;
  border-color:  rgb(3, 247, 3);
  justify-content: center;
  position: absolute;
  padding: 2%;
  border-radius: 2em;
}

.form-container{
  padding: 2em;
}

input{
  text-align: center;
  padding:0.2em;
  border: none;
  border-bottom: 0.1em solid #000;
  background: transparent;
  margin: 0.3em;
  margin-bottom: 1.5em;

}

input:hover{
  text-align: center;
  padding:0.2em;
  border: none;
  border-bottom: 0.1em solid #07ee4c;
  background: transparent;
  margin: 0.3em;
  margin-bottom: 1.5em;
}

input:focus-visible{
  outline: none;
}

input::placeholder{
  color: #00000086;
  font-weight: 500;
}


#submit-button{
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

#submit-button:hover{
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(245, 241, 241);
  color: rgb(8, 233, 68);
  border-radius: 0.5em;
  font-weight: 500;
  outline: none;
  border-color: white;
}

#show-password-label{
  color:rgb(2, 4, 8)
}




