@media( max-width: 640px ){
  #plant-info-div{
      width: 30em;
      justify-content: center;
  }

  #plant-property-div{
    width: 80%;
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
  }

  #price{
    font-size: medium;
  }
}

#plant-view-div{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

#remove{
  background-color: white;
  color: rgb(239, 91, 91);
  border-style: block;
  border-color: rgb(244, 110, 110);
  padding: 0.5em;
  border-radius: 0.5em;
  float: right;
  font-style: oblique;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#remove-icon{
  padding-left: 5px;
}

#remove:hover{
  background-color: rgb(244, 110, 110);
  color: white;
  border-style: block;
  border-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  float: right;
  outline: none;
}

#container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  background-color: rgb(240, 250, 242);
}

#plant-img-div{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 0.5em
}


#plant-info-div{
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1em;
}

.property{
  text-align: left;
}

#name{
  background-color: rgb(79, 125, 79);
  color: rgb(253, 252, 252);
  padding: 0.5em;
  font-style: oblique;
}

#goback-div{
  margin: 1em;
}
#goback-button{
  background-color: rgb(79, 125, 79);
  border-radius: 1em;
  color: white;
  padding: 0.5em;
  font-size: large;
  outline: none;
  border-style: none;
  float: left;
  margin-bottom: 1em;
}

#goback-button:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(79,125,79);
  border-style: solid;
  border-color: rgb(79,125,79);
}

#scientific-name{
  font-size:x-large;
  color: rgb(4, 4, 4);
}

#goback-icon{
  float: right;
  color: black
}

#properties{
  font-size: large;
  padding: 1em;
  padding-left: 2em;
}

#plant-img{
  width: 20em;
  height: 100%
}

#price{
  background-color: black;
  color: rgb(248, 248, 248);
  padding: 0.5em;
  margin-left: 8em;
  margin-right: 8em;
  border-radius: 1em;
}


#invoice-text{
  color:rgb(4, 151, 4);
  font-weight: 600
}
#invoice-div{
  margin-top: 1em;
}

#invoice-total{
  font-weight: 600;
  color: rgb(4,151,4);
}

#header{
  background-color: rgb(77, 141, 79);
  color: rgb(252, 249, 249);
  padding: 0.2em;
  text-align: center;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
}

#overall-calculation{
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1em;
  margin: 1em;
  margin-top: 2em;
  padding-bottom: 2em;
  border-color: rgb(3, 238, 3);
  border-style: dotted
}

#grand-total-div{
  margin-top: 1em;
}

#text{
  font-weight: 800;
}

#grand-total{
  font-weight: 800;
}








