<div class="container">
  <div class="header">
    <span id="heading"><img id="logo" style="width: 12em;" src="/assets/images/logo.jpg"></span>
    <span id="search-div">
      <span class="header-item" class="search-icon"><svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></span>
      <input #search class="search-bar" (input)="handleEntryKey(search.value)" placeholder="Search">
    </span>

    <span class="header-item"><a (click)="moveToCart()"><svg id="cart-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg></a><span><p [innerText]="getCartNumber()" id="cart-no">1</p></span></span>

    <span class="header-item"><a (click)="moveToHome()"><svg id="home-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
    </svg></a></span>

    <h1 id="account">A</h1>

  </div>

  <div class="top-image-div">
    <div class="black-overlay">
        <div id="quote" class="quote">
          <span class="quote-word">The </span>
          <span class="quote-word">Love </span>
          <span class="quote-word">of </span>
          <span class="quote-word">gardening </span>
          <span class="quote-word">is </span>
          <span class="quote-word">seed </span>
          <span class="quote-word">once </span>
          <span class="quote-word">sown </span>
          <span class="quote-word">that </span>
          <span class="quote-word">ever </span>
          <span class="quote-word">dies </span>
      </div>

      <div class="drop-down">
        <input name="planting-options" #p_options (input)="dropDownSelect(p_options.value)" list="planting_options" id="planting-options" placeholder="Planting Options">
          <datalist id="planting_options">
            <option class="options" >Plants</option>
            <option class="options" >Seeds</option>
            <option class="options" >All</option>
          </datalist>
      </div>

    </div>
  </div>

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div id="NRF-div" *ngIf="no_results_found">
      <div><h1 id="NRF">No Results Found ...</h1></div>
      <div><img id="octopus" src="/assets/images/octopus.jpg"></div>
      <div><h3 id="no_result_message">Kindly contact the Admin to place the order</h3></div>
    </div>
  <div>

  <div id="products" class="products">
    <div  *ngFor="let plant of plant_details" class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ plant.Img_path }}" alt="Avatar" style="width:19em;height:300px;border-top-left-radius: 1em; border-top-right-radius: 1em ;">
        </div>
        <div class="flip-card-back">
          <h1 style="margin: 1em; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">{{ plant.Name }} ({{ plant.type }})</h1>
          <h3 style="font-size: x-large; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Price: ₹{{ plant.Price }}</h3>
          <h3 style="margin-top: 0.5em; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Initial Quantity: {{ plant.Initial_quantity }}</h3>
        </div>
      </div>
      <div class="bottom-card">

        <p #plant_name class="name">{{ plant.Name }}</p>
        <div class="fill-button"><button class="btn" (click)="setSelectedPlant(plant_name.innerHTML)">View</button></div>
        <button id="add-to-cart-button"class="add-to-cart-button" (click)="addToCart(plant_name.innerHTML, plant.id)">{{ plant.Add_to_cart }} <svg id="cart-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg></button>

        <button (click)="remove(plant_name.innerHTML, plant.id)" class="remove-button">Remove</button>

        <div id="number-div">
          <span><button (click)="valueDec(plant_name.innerHTML)" id="decrement">-</button>
          </span><span><p #value id="value">{{ plant.Quantity }}</p></span>
          <span><button (click)="valueInc(plant_name.innerHTML)" id="increment">+</button></span>
        </div>
      </div>
    </div>
  </div>
</div>
