<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="container">
    <!-- <div id="welcome-div"><h1 class="welcome">Welcome to Online Nursery</h1></div> -->
    <div class="overall-container">
        <div class="signup-container">
            <div class="heading">
                <h1>Reset Your Password</h1>
            </div>
            <div class="form-container">
                <div [hidden]="hideInputField">
                    <div class="email-div">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                        </svg>
                        <input #email placeholder="Email/Phone" type="text" size="25">
                    </div>
    
                    <div *ngIf="!captcha">
                        <re-captcha (resolved)="resolved($event)" siteKey="6Lfs0RImAAAAAOoEEKZwZGOxs7d4QIMqe3lbOIUj"></re-captcha>
                    </div>
                    
                    <div *ngIf="captcha" class="submit-div">
                        <button class="btn btn-outline-success" id="submit-button"
                        (click)="reset(email.value)">Get OTP</button>
                    </div>
                </div>
                <div [hidden]="hideOTPfield">
                    <input #otp type="text" placeholder="OTP">
                    <button (click)="submitOTP(email.value, otp.value)">
                        Verify OTP
                    </button>
                </div>
            </div>
            <div [hidden]="hideNewPassword">
                <input #pass type="password" placeholder="New Password">
                <input #confirm type="password" placeholder="Confirm New Password">
                <button (click)="resetPassword(email.value, otp.value, pass.value, confirm.value)">
                    Reset
                </button>
            </div>
            <div [hidden]="hideLoading">
                <p>Please wait</p>
                <img src="assets/images/Hourglass.gif">
            </div>
        </div>
    </div>
</div>